# 모바일넷
mobile-net/test/*
mobile-net/train/*
mobile-net/food101/*
mobile-net/history.log

mobile-net-custom/test/*
mobile-net-custom/train/*
mobile-net-custom/models/*
mobile-net-custom/food101/*

es.jpg
sc.jpg
vb.jpg
vp.jpg

README.md
.gitignore